//
   Created by Brecht on 8/11/2015.

extends ./layout

block 500
    .container
        section#content
            .page-err
                .err-status
                    h1 500
                .err-message
                    h2 Something's wrong with server.
                .err-body
                    a.btn.btn-lg.btn-goback(href='/')
                        span.glyphicon.glyphicon-home
                        span.space
                        |                             Go Back to Home Page