//
   Created by Brecht on 12/12/2015.

extends layout

block admin
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li
                            a(href='/groups') Groups
                        if(admin===true)
                            li.active
                                a(href='/admin') Admin
                        if(toon === true)
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img.profile-image.img-circle(src='#{foto}')
                                    |  #{name}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/profile')
                                            span.glyphicon.glyphicon-user(aria-hidden='true')
                                            |  My Profile
                                    li
                                        a(href='/help')
                                            i.fa.fa-commenting
                                            | Help
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout')
                                            span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                            |  Logout
                        if(toon === false)
                            li
                                a(href='/login',title='sign in')
                                    button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-10.col-md-offset-1(data-ng-app="admin",data-ng-controller="AdminController")
                h2 Administrator Page
                h3 Users
                .form-group
                    input.form-control(type='text', placeholder='Search for...',data-ng-model="nameFilterU")
                .delete.admin-u(id="{{ user._id }}",data-ng-repeat='user in allUsers | filter: searchFilterU')
                    img(data-ng-src="{{user.picture}}",alt="{{ user.firstname }}")
                    p(data-ng-bind-template="{{user.firstName}} {{user.lastName}}")
                    p(data-ng-bind="user.country")
                    a(href="#")
                        i.fa.fa-times(title="Click here to Delete user",data-ng-click='deleteUser(user._id)')
                .cb
                h3 Events
                .form-group
                    input.form-control(type='text', placeholder='Search for...',data-ng-model="nameFilterE")
                .admin-e(id="{{ event._id }}",data-ng-repeat="event in allEvents | filter: searchFilterE")
                    img(data-ng-src="{{event.pictureUrl}}",alt="{{ event.name }}")
                    p(data-ng-bind="event.name")
                    a(href="#")
                        i.fa.fa-times(title="Click here to Delete event",data-ng-click='deleteEvent(event._id)')
                .cb
                h3 Groups
                .form-group
                    input.form-control(type='text', placeholder='Search for...',data-ng-model="nameFilterG")
                .admin-g(id="{{ group._id }}",data-ng-repeat="group in allGroups | filter: searchFilterG")
                    img(data-ng-src="{{group.picture}}",alt="{{ group.name }}")
                    p(data-ng-bind="group.name")
                    a(href="#")
                        i.fa.fa-times(title="Click here to Delete group",data-ng-click='deleteGroup(group._id)')
                .cb
    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
    script(src='/dist/js/angular.min.js')
    script(src='/dist/js/admin-page.min.js')

