//
   Created by Brecht on 12/12/2015.

extends layout

block admin
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    a.navbar-brand(href='#') TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='events') Events
                        li
                            a(href='groups') Groups
                        li.active
                            a(href='admin') Admin
                        li
                            a(href='login')
                                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-10.col-md-offset-1
                h2 Administrator Page
                h3 Users
                .input-group
                    input.form-control(type='text', placeholder='Search for...')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Go!
                h3 Events
                .input-group
                    input.form-control(type='text', placeholder='Search for...')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Go!
                h3 Groups
                .input-group
                    input.form-control(type='text', placeholder='Search for...')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Go!

    footer.footer
        .container-fluid
            .row
                p.text-muted © Copyright BCW Company. All Rights Reserved.
                a(href='#')
                    i.bck-to-top.fa.fa-chevron-up
    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
