//
   Created by Brecht on 8/11/2015.

extends layout

block events
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li.active
                            a(href='/events') Events
                        li
                            a(href='/groups') Groups
                        if(admin === true)
                            li
                                a(href='/admin') Admin
                        if(toon === true)
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img.profile-image.img-circle(src='#{foto}')
                                    |  #{name}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/profile')
                                            span.glyphicon.glyphicon-user(aria-hidden='true')
                                            |  My Profile
                                    li
                                        a(href='/help')
                                            i.fa.fa-commenting
                                            | Help
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout')
                                            span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                            |  Logout
                        if(toon === false)
                            li
                                a(href='/login',title='sign in')
                                    button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid(data-ng-app='event')
        .row
            .col-md-10.col-md-offset-1
                h2 Search for Events
                .input-group
                    input.form-control(type='text',ng-model="query", placeholder='Search for...')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Go!

                .events
                    h3 Events
                    #accordion1.panel-group(data-ng-controller='EventsController', role='tablist', aria-multiselectable='true')
                        div(data-ng-repeat='something in events | filter:query')
                            .panel.panel-default
                                #headingOne.panel-heading(role='tab')
                                    h4.panel-title.accordion-toggle
                                        a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion1', href='#collapse{{something.collapseId}}', aria-expanded='false', aria-controls='collapse{{something.collapseId}}',title='{{ something.name }}')
                                            img(data-ng-src="{{something.picture}}",alt="{{ something.name }}")
                                            |  {{' ' +  something.name}}
                                .panel-collapse.collapse(id='collapse{{something.collapseId}}', role='tabpanel', aria-labelledby='heading{{something.collapseId}}')
                                    .panel-body
                                        iframe(ng-src='{{something.tags}}', frameborder='0', style='border:0', allowfullscreen='')
                                        p.info Praktische Informatie
                                        p
                                            i.fa.fa-calendar
                                            | {{ ' ' +  something.date}}
                                        p
                                            i.fa.fa-clock-o
                                            | {{ ' ' +  something.time}}
                                        p
                                            i.fa.fa-eur
                                            | {{ ' ' +  something.price}}
                                        p
                                            i.fa.fa-map-marker
                                            | {{ ' ' +  something.location}}
                                        p {{something.description}}
                                        button(ng-click="ikGa($event)"   id="{{something.id}}").btn.btn-info.btn-responsive.approve
                                            i.fa.fa-check.fa-lg
                                            |  Ik ga hier naar toe

                                        button(ng-click="ikGaNiet($event)").btn.btn-info.btn-responsive.active.disapprove
                                            i.fa.fa-remove.fa-lg
                                            |  Ik ga hier niet naar toe

    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/dist/js/angular.min.js')
    script(type='text/javascript', src='/src/event-page.min.js')
    script.
         document.addEventListener("DOMContentLoaded", function() {
             var microappscope = angular.element($("#accordion1")).scope();
             microappscope.knoppen();
         });
