<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link type="text/css" rel="stylesheet" href="dist/css/reset.min.css">
    <link type="text/css" rel="stylesheet" href="dist/css/style.min.css">
    <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="cover">
        <div class="cover-img">
            <img src="img/bg-2.jpg" alt="uitzicht op landschap">
        </div>
        <div class="cover-bg"></div>
    </div>
    <div class="container">
        <div class="content-header">
            <h1>TogetheR</h1>

            <small>Password Reset</small>
        </div>

        <div class="content-body">

                <form method="post" action="/" class="form-forgotpw">

                        <div class="alert alert-micro alert-border-left pastel">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="fa fa-info"></i> Enter your
                            Email and instructions will be sent to you!
                        </div>

                        <div class="form-group m-b-20 ">
                            <label>Email address</label>
                            <input type="text" class="form-control input-lg" placeholder=" Email Address ">
                        </div>
                        <div class=" m-b-20">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Reset</button>
                        </div>
                        <div class="m-t-20">
                            Remember your Password? Click <a href="login.html">here</a> to login.
                        </div>
                </form>
        </div>
    </div>
</body>
</html>