//
   Created by Brecht on 9/11/2015.

extends regLayout

block forgotpw
    .cover
        .cover-img
            img(src='../img/login/bg-2.jpg', alt='uitzicht op landschap')
        .cover-bg
    .container-fluid
        .row-fluid
            .login-body
                .col-md-4.col-md-offset-4
                    h2 Forgot Password
                    .content-body
                        form.form-forgotpw(method='post', action='/')
                            .alert.alert-micro.alert-border-left.pastel
                                button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
                                i.fa.fa-info
                                |  Enter your
                                |                                 Email and instructions will be sent to you!
                            .form-group.m-b-20
                                label Email address
                                input.form-control.input-lg(type='text', placeholder=' Email Address ')
                            button.btn.btn-success.btn-block.btn-lg(type='submit') Reset
                            .m-t-20
                                | Remember your Password? Click
                                a.reg(href='login') here
                                |  to login.