//
   Created by Brecht on 8/11/2015.

extends layout
block customme
    script(src='/socket.io/socket.io.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script.
      var socket = io.connect("http://localhost:3000");
      socket.on('rockgroup', function (data) {
      var msg = data.nick+': '+data.message;
      $('#Texthere').val($('#Texthere').val()+msg+'<br\\>');
      });
      // Handle UI
      $(function() {
      // Set nickname
      // $('#nick').on('click', function() {

      //});
      // Send chat message
      $('#btnchat').on('click', function() {
        socket.emit('nick', "Testingpurpose"); //this needs to change to your nickname
      console.log('hh');
      socket.emit('rockgroup', {
      message:$('#chat-input').val()
      });
      });
      });

block groups
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    a.navbar-brand(href='#') TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='events') Events
                        li.active
                            a(href='groups') Groups
                        li
                            a(href='/login')
                                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-2
                .user-groups
                    h2 My Groups
                    a(href='#')
                        p Rock Group
                    a(href='#')
                        p Concert Group
                    a(href='#')
                        p Travel Group
                    a(href='#')
                        p Rap Group
                    a(href='#')
                        p Alternate Group
            .col-md-10
                .group-contacts
                    h2 { NAME GROUP }
                    .container-fluid
                        .row
                            .col-md-6
                              .panel.panel-default
                                .panel-heading Group Events
                                div
                                  textarea#Texthere(style='height:300px;width:500px;')
                                #online-users.list-group

                            .col-md-3
                                .panel.panel-default
                                    .panel-heading Group Chat
                                    ul#chat-output.list-group
                                    .panel-body

                                             .input-group
                                                                    input#chat-input.form-control(type='text')
                                                                    span.input-group-btn
                                                                      button#btnchat.btn.sendm.btn-default(type='submit') Send Message

                            .col-md-3
                                .panel.panel-default
                                    .panel-heading Online Users
                                    ul#user-list.list-group
                                    .panel-body(style='height:670px;')
    footer.footer
        .container-fluid
            .row
                p.text-muted © Copyright BCW Company. All Rights Reserved.
                a(href='#')
                    span.glyphicon.glyphicon-menu-up.bck-to-top(aria-hidden='true')

