//
   Created by Brecht on 8/11/2015.

extends layout
block socket
    script(src='/socket.io/socket.io.js')
    script.
        document.addEventListener("DOMContentLoaded", function () {
            console.log('hh');
            var socket = io.connect();
            socket.on('nick', function (data) {
                console.log("h");
                document.getElementById("clientshere").value = "";
                data.forEach(function (entry) {
                    console.log(entry);
                    document.getElementById("clientshere").value = document.getElementById("clientshere").value + entry + '\n';
                });
            });
            socket.on('rockgroup', function (data) {
                var msg = data.nick + ': ' + data.message;
                document.getElementById("Texthere").value = document.getElementById("Texthere").value + msg + '\n';
            });
            socket.emit('nick', "Testingpurpose"); //this needs to change to your nickname
            document.getElementById("btnchat").addEventListener("click", function () {
                socket.emit('rockgroup', {
                    message: document.getElementById("chat-input").value
                });
            }, false);
        }, false);
block groups
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    a.navbar-brand(href='#') TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='events') Events
                        li.active
                            a(href='groups') Groups
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                img.profile-image.img-circle(src='../img/profile/default-profile-pic.png')
                                |  #{data}
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='profile')
                                        i.fa.fa-user
                                        | My Profile
                                li.divider(role='separator')
                                li
                                    a(href='#')
                                        i.fa.fa-cog
                                        | Logout
                        li
                            a(href='/login')
                                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-2
                .user-groups
                    h2 My Groups
                    a(href='#')
                        p Rock Group
                    a(href='#')
                        p Concert Group
                    a(href='#')
                        p Travel Group
                    a(href='#')
                        p Rap Group
                    a(href='#')
                        p Alternate Group
            .col-md-10
                .group-contacts
                    h2 { NAME GROUP }
                    .container-fluid
                        .row
                            .col-md-6
                                .panel.panel-default
                                    .panel-heading Group Events
                                    #online-users.list-group
                            .col-md-3
                                .panel.panel-default
                                    .panel-heading Group Chat
                                    .panel-body
                                        textarea#Texthere
                                        .input-group
                                            input#chat-input.form-control(type='text')
                                            span.input-group-btn
                                                button#btnchat.btn.sendm.btn-default(type='submit') Send Message

                            .col-md-3
                                .panel.panel-default
                                    .panel-heading Online Users
                                    ul#user-list.list-group
                                    .panel-body(style='height:670px;')
                                        textarea#clientshere
    footer.footer
        .container-fluid
            .row
                p.text-muted © Copyright BCW Company. All Rights Reserved.
                a(href='#')
                    span.glyphicon.glyphicon-menu-up.bck-to-top(aria-hidden='true')

    script(type='text/javascript', src='../dist/js/jquery.min.js')
    script(type='text/javascript', src='../dist/js/bootstrap.min.js')