//
   Created by Brecht on 12/12/2015.

extends layout

block help
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='events') Events
                        li
                            a(href='groups') Groups
                        li
                            a(href='admin') Admin
                        li.dropdown
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                img.profile-image.img-circle(src='../img/profile/default-profile-pic.png')
                                |  Voornaam Familienaam
                                span.caret
                            ul.dropdown-menu
                                li
                                    a(href='/profile')
                                        span.glyphicon.glyphicon-user(aria-hidden='true')
                                        |  My Profile
                                li.active
                                    a(href='/help')
                                        i.fa.fa-commenting
                                        | Help
                                li.divider(role='separator')
                                li
                                    a(href='/logout')
                                        span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                        |  Logout
                        li
                            a(href='login')
                                button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-10.col-md-offset-1.help-section
                .about-intro
                    h2 Welcome to TogetheR
                    i.fa.fa-users.fa-5x
                    p.ai-content
                            span
                                |  TogetheR
                            |  is a site where people can meet people with the same interests.
                            |  With your help, we're working together to build a network of connections for you.

                    p.helper-text
                        | We're a little bit different from other sites. Here's how:
                    .section-divider
                .about-profile
                    h3 Setup your profile, create events & groups
                    .main-container
                        .container.cf
                            // testimonial one
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johnathon Richard Smith
                                        h4 CEO / Manager - Auto Incorporated
                                .content
                                    i.fa.fa-quote-left
                                    |  When I started using their service I was skeptical. They promised me a 300% return on my initial investment. However they came through on their word and now my business is flourishing..
                                    i.fa.fa-quote-right
                            // testimonial two
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjV3BseTMtcEU1T2M')
                                    .right
                                        h3 Joanna Hammerlton
                                        h4 Marketing Manager - Omega Creative
                                .content
                                    i.fa.fa-quote-left
                                    |  Our company first enlisted their services when we had a down-turn in sales and revene. They outlined a series of steps we could take to improve our position and within a year we are making signifcant improvements..
                                    i.fa.fa-quote-right
                            // testimonial three
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjTURta0pyMEtoUmc\
                                  ')
                                    .right
                                        h3 Mark Jamerson
                                        h4 CEO - Generic Business
                                .content
                                    i.fa.fa-quote-left
                                    |  We entered into a 12 month period of service with this company in the hopes to improve our returns. After this period we have a return of double our initial investment..
                                    i.fa.fa-quote-right
                            // testimonial four
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjb1dxcGZEYUc0Z3M')
                                    .right
                                        h3 Susan Hilton
                                        h4 Financial Officer - People Tech
                                .content
                                    i.fa.fa-quote-left
                                    |  Our involvement in this company has been mutually beneficial. We were hoping for slightly higher returns, however the current level of returns are sufficient..
                                    i.fa.fa-quote-right

                    .section-divider
                .about-events
                    h3 Look for events that fit your interests
                    .main-container
                        .container.cf
                            // testimonial one
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johnathon Richard Smith
                                        h4 CEO / Manager - Auto Incorporated
                                .content
                                    i.fa.fa-quote-left
                                    |  When I started using their service I was skeptical. They promised me a 300% return on my initial investment. However they came through on their word and now my business is flourishing..
                                    i.fa.fa-quote-right
                            // testimonial two
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjV3BseTMtcEU1T2M')
                                    .right
                                        h3 Joanna Hammerlton
                                        h4 Marketing Manager - Omega Creative
                                .content
                                    i.fa.fa-quote-left
                                    |  Our company first enlisted their services when we had a down-turn in sales and revene. They outlined a series of steps we could take to improve our position and within a year we are making signifcant improvements..
                                    i.fa.fa-quote-right
                            // testimonial three
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjTURta0pyMEtoUmc\
                                                      ')
                                    .right
                                        h3 Mark Jamerson
                                        h4 CEO - Generic Business
                                .content
                                    i.fa.fa-quote-left
                                    |  We entered into a 12 month period of service with this company in the hopes to improve our returns. After this period we have a return of double our initial investment..
                                    i.fa.fa-quote-right
                            // testimonial four
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjb1dxcGZEYUc0Z3M')
                                    .right
                                        h3 Susan Hilton
                                        h4 Financial Officer - People Tech
                                .content
                                    i.fa.fa-quote-left
                                    |  Our involvement in this company has been mutually beneficial. We were hoping for slightly higher returns, however the current level of returns are sufficient..
                                    i.fa.fa-quote-right
                    .section-divider
                .about-groups
                    h3 Look for groups, chat with people with same interests
                    .main-container
                        .container.cf
                            // testimonial one
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johnathon Richard Smith
                                        h4 CEO / Manager - Auto Incorporated
                                .content
                                    i.fa.fa-quote-left
                                    |  When I started using their service I was skeptical. They promised me a 300% return on my initial investment. However they came through on their word and now my business is flourishing..
                                    i.fa.fa-quote-right
                            // testimonial two
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjV3BseTMtcEU1T2M')
                                    .right
                                        h3 Joanna Hammerlton
                                        h4 Marketing Manager - Omega Creative
                                .content
                                    i.fa.fa-quote-left
                                    |  Our company first enlisted their services when we had a down-turn in sales and revene. They outlined a series of steps we could take to improve our position and within a year we are making signifcant improvements..
                                    i.fa.fa-quote-right
                            // testimonial three
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjTURta0pyMEtoUmc\
                                                      ')
                                    .right
                                        h3 Mark Jamerson
                                        h4 CEO - Generic Business
                                .content
                                    i.fa.fa-quote-left
                                    |  We entered into a 12 month period of service with this company in the hopes to improve our returns. After this period we have a return of double our initial investment..
                                    i.fa.fa-quote-right
                            // testimonial four
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjb1dxcGZEYUc0Z3M')
                                    .right
                                        h3 Susan Hilton
                                        h4 Financial Officer - People Tech
                                .content
                                    i.fa.fa-quote-left
                                    |  Our involvement in this company has been mutually beneficial. We were hoping for slightly higher returns, however the current level of returns are sufficient..
                                    i.fa.fa-quote-right
                    .section-divider
                .about-newuser
                    h3 Sign up to get started
                    a(href='/signup')
                        button.btn.btn-default.btn-lg(type='button') Sign Up
                    p.su Signing up allows you to:
                    p Create your own personalized profile
                    p Create your own events & groups
                    p Chat with people that have the same interests

    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
    script.
        var $animation_elements = $('.animation-element');
        var $window = $(window);
        function check_if_in_view() {
            var window_height = $window.height();
            var window_top_position = $window.scrollTop();
            var window_bottom_position = (window_top_position + window_height);
            $.each($animation_elements, function () {
                var $element = $(this);
                var element_height = $element.outerHeight();
                var element_top_position = $element.offset().top;
                var element_bottom_position = (element_top_position + element_height);
                //check to see if this current container is within viewport
                if ((element_bottom_position >= window_top_position) &&
                        (element_top_position <= window_bottom_position)) {
                    $element.addClass('in-view');
                } else {
                    $element.removeClass('in-view');
                }
            });
        }
        $window.on('scroll resize', check_if_in_view);
        $window.trigger('scroll');