//
   Created by Brecht on 12/12/2015.

extends layout

block help
    header
        nav.navbar.navbar-default.navbar-fixed-top
            .container-fluid
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navbar-header
                    h1.navbar-brand TogetheR
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Home
                        li
                            a(href='/events') Events
                        li
                            a(href='/groups') Groups
                        if(admin === true)
                            li
                                a(href='/admin') Admin
                        if(toon === true)
                            li.dropdown
                                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                    img.profile-image.img-circle(src='#{foto}')
                                    |  #{name}
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a(href='/profile')
                                            span.glyphicon.glyphicon-user(aria-hidden='true')
                                            |  My Profile
                                    li.active
                                        a(href='/help')
                                            i.fa.fa-commenting
                                            | Help
                                    li.divider(role='separator')
                                    li
                                        a(href='/logout')
                                            span.glyphicon.glyphicon-log-out(aria-hidden='true')
                                            |  Logout
                        if(toon === false)
                            li
                                a(href='/login',title='sign in')
                                    button.btn.btn-default.navbar-btn(type='button') Sign in
    .container-fluid
        .row
            .col-md-10.col-md-offset-1.help-section
                .about-intro
                    h2 Welcome to TogetheR
                    i.fa.fa-users.fa-5x
                    p.ai-content
                        span
                            |  TogetheR
                        |  is a site where people can meet people with the same interests.
                        |  With your help, we're working together to build a network of connections for you.

                    p.helper-text
                        | We're a little bit different from other sites. Here's how:
                    .section-divider
                .about-profile
                    h3 Setup your profile, create events & groups
                    .main-container
                        .container.cf
                            // testimonial one
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Setup your profile, so other people who you are and what u are interested in!
                                    img(src='../dist/images/help/hp1.png')
                            // testimonial two
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Create your own events and find people who want to go with you!
                                    img(src='../dist/images/help/hp2.png')
                            // testimonial three
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Overview of matched friends with the same interests!
                                    img(src='../dist/images/help/hp3.png')
                            // testimonial four
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Create your own group !
                                    img(src='../dist/images/help/hp4.png')

                    .section-divider
                .about-events
                    h3 Look for events that fit your interests
                    .main-container
                        .container.cf
                            // testimonial one
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Search for any tags, types of mucis, types of music events, etc...
                                    img(src='../dist/images/help/he1.png')
                            // testimonial two
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Click on a certain event that you are intersted in, to know more detailed information!
                                    img(src='../dist/images/help/he2.png')
                    .section-divider
                .about-groups
                    h3 Look for groups, chat with people with same interests
                    .main-container
                        .container.cf
                            // testimonial one
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Click on a group to see the current events associated with that group and chat with other members !
                                    img(src='../dist/images/help/hg1b.png')
                            // testimonial two
                            .animation-element.slide-left.testimonial
                                .header
                                    .left
                                        img(src='http://drive.google.com/uc?export=download&id=0B7UPM0QugWUjVTdZcktRTWhNamM')
                                    .right
                                        h3 Johan Casanova
                                        h4 CEO / Manager - Lady Industries
                                .content
                                    p Chat with members with the same interests as you!
                                    img(src='../dist/images/help/hg2.png')
                    .section-divider
                .about-newuser
                    h3 Sign up to get started
                    a(href='/signup')
                        button.btn.btn-default.btn-lg(type='button') Sign Up
                    p.su Signing up allows you to:
                    p Create your own personalized profile
                    p Create your own events & groups
                    p Chat with people that have the same interests
    footer.footer
        .container-fluid
            .row
                p.text-muted Project Front & Back end Development ( Brecht Tourlousse, Cedric Lecat & Wouter Dumon )
                a(href='#')
                    span.glyphicon.glyphicon-menu-up.bck-to-top(aria-hidden='true')
    script(type='text/javascript', src='/dist/js/jquery.min.js')
    script(type='text/javascript', src='/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/dist/js/together.min.js')