doctype html
html(lang='en',ng-app='event')
  head
    meta(charset='UTF-8')
    meta(http-equiv='cache-control', content='private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type='text/css', rel='stylesheet', href='/dist/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='/dist/css/style.min.css')
  body
    block landing
    block events
    block groups
    block profile



