doctype html
html
  head
    meta(charset='UTF-8')
    title Landing Page
    meta(http-equiv='cache-control', content='private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='/dist/css/style.min.css')
  body
    block 404
    block 500
    block landing
    block events
    block groups
    block profile
    block login
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script.
      $('.carousel').carousel({
        interval: 3500, // in milliseconds
        pause: 'none' // set to 'true' to pause slider on mouse hover
      })
