doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='cache-control', content='private')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(type='text/css', rel='stylesheet', href='/dist/css/style.min.css')
  body
    block 404
    block 500
    block landing
    block events
    block groups
    block profile
    footer.footer
      .container-fluid
        .row
          p.text-muted © Copyright BCW Company. All Rights Reserved.
          a(href='#')
            span.glyphicon.glyphicon-menu-up.bck-to-top(aria-hidden='true')

