//
   Created by Brecht on 8/11/2015.

extends regLayout.jade

block login
    .cover
        .cover-img
            img(src='/img/login/bg-1.jpg', alt='uitzicht op landschap')
    .container-fluid
        .row-fluid
            .form-body
                .col-md-4.col-md-offset-4
                    h2 Sign in with
                    .row
                        .col-sm-4
                            a.button.btn-social.facebook.span-left.btn-block(href='/auth/facebook')
                                span
                                    i.fa.fa-facebook
                                | Facebook
                        .col-sm-4
                            a.button.btn-social.twitter.span-left.btn-block(href='/auth/twitter')
                                span
                                    i.fa.fa-twitter
                                | Twitter
                        .col-sm-4
                            a.button.btn-social.googleplus.span-left.btn-block(href='/auth/google')
                                span
                                    i.fa.fa-google-plus
                                | Google+
                    .section-divider
                        span OR
                    form.loginForm(action='login', method='POST')
                        .form-group
                            label Email address
                            input.form-control.input-lg(type='email', placeholder=' Email Address ', required='')
                        .form-group
                            label Password
                            input.form-control.input-lg(type='password', placeholder=' Password', required='')
                        .checkbox
                            label
                                input(type='checkbox')
                                |  Remember Me
                        .login-buttons
                            button.btn.btn-success.btn-block.btn-lg(type='submit') Sign me in
                        .m-t-20
                            a.add-info(href='/forgotpw') Forgot your Password ?
                            |
                            a.add-info(href='/register')  Sign Up
                            |
                            a.add-info(href='/landing') Home
