//
   Created by Brecht on 8/11/2015.

extends LayoutAuth

block login
    .cover
        .cover-img
            img(src='/img/login/bg-1.jpg', alt='uitzicht op landschap')
    .container-fluid(data-ng-app='auth')
        .row-fluid
            .form-body
                .col-md-4.col-md-offset-4
                    h2 Sign in with
                    .row
                        .col-sm-4
                            a.button.btn-social.facebook.span-left.btn-block(href='/auth/facebook',title='login with facebook')
                                span
                                    i.fa.fa-facebook
                                p Facebook
                        .col-sm-4
                            a.button.btn-social.twitter.span-left.btn-block(href='/auth/twitter',title='login with twitter')
                                span
                                    i.fa.fa-twitter
                                p Twitter
                        .col-sm-4
                            a.button.btn-social.googleplus.span-left.btn-block(href='/auth/google',title='loging with facebook')
                                span
                                    i.fa.fa-google-plus
                                p Google+
                    .section-divider
                        span OR
                    form.loginForm(name='loginForm',action='/login', method='post',data-ng-submit='submitForm()', novalidate='')
                        .form-group(data-ng-class="{ 'has-error' : loginForm.email.$invalid && (loginForm.email.$touched || submitted)}")
                            label.control-label Email address
                            input.form-control.input-lg(type='email', name='email', data-ng-model='user.email', placeholder='Your Email Address', data-ng-required='true')
                            .help-block(data-ng-messages='loginForm.email.$error', data-ng-if='loginForm.email.$touched')
                                p(data-ng-message='required') Your email is required.
                                p(data-ng-message='email') Enter a valid email
                        .form-group(data-ng-class="{ 'has-error' : loginForm.password.$invalid && (loginForm.password.$touched || submitted)}")
                            label.control-label Password
                            input.form-control.input-lg(type='Password', name='password', data-ng-model='user.password', placeholder='Your Password', data-ng-required='true')
                            .help-block(data-ng-messages='loginForm.password.$error', ng-if='loginForm.password.$touched')
                                p(data-ng-message='required') Your password is required.
                        .checkbox
                            label
                                input(type='checkbox')
                                |  Remember Me
                        .login-buttons
                            button.btn.btn-success.btn-block.btn-lg(type='submit', data-ng-disabled='loginForm.$invalid') Sign me In
                        .m-t-20
                            a.add-info(href='/signup') Sign Up
                                i.fa.fa-angle-right
                            a.add-info(href='/') Home
