<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link type="text/css" rel="stylesheet" href="dist/css/reset.min.css">
    <link type="text/css" rel="stylesheet" href="dist/css/style.min.css">
    <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type='text/css' rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

    <div class="cover">
        <div class="cover-img">
            <img src="img/bg-2.jpg" alt="uitzicht op landschap">
        </div>
        <div class="cover-bg"></div>
    </div>
    <div class="container">
        <div class="content-header">
            <h1>Sign In</h1>
            <small>Sign into your TogetheR account.</small>
        </div>

        <div class="content-body">

            <div class="section row">
                <div class="col-md-4">
                    <a href="#" class="button btn-social facebook span-left btn-block">
                      <span>
                        <i class="fa fa-facebook"></i>
                      </span>Facebook</a>
                </div>
                <div class="col-md-4 ">
                    <a href="#" class="button btn-social twitter span-left btn-block">
                      <span>
                        <i class="fa fa-twitter"></i>
                      </span>Twitter</a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="button btn-social googleplus span-left btn-block">
                      <span>
                        <i class="fa fa-google-plus"></i>
                      </span>Google+</a>
                </div>

            </div>
            <div class="section-divider">
                <span>OR</span>
            </div>
            <form action="login.html" method="POST" class="formlogin">
                <div class="form-group m-b-20">
                    <label>Email address</label>
                    <input type="text" class="form-control input-lg" placeholder=" Email Address ">
                </div>
                <div class="form-group m-b-20">
                    <label>Password</label>
                    <input type="password" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="checkbox m-b-20">
                    <label>
                        <input type="checkbox"> Remember Me
                        <a href="forgotpw.html">Forgot your Password ?</a>
                    </label>
                </div>
                <div class="login-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                </div>
                <div class="m-t-20">
                    Not a member yet? Click <a href="register.html">here</a> to register.
                </div>
            </form>
        </div>
    </div>

</body>
</html>