<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link type="text/css" rel="stylesheet" href="dist/css/reset.min.css">
    <link type="text/css" rel="stylesheet" href="dist/css/style.min.css">
    <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
    <div class="cover">
        <div class="cover-img">
            <img src="img/bg-2.jpg">
        </div>
    <div class="cover-bg"></div>
    </div>
    <div class="container">
        <div class="content-header">
            <h1>Sign Up</h1>
            <small>Create your TogetheR account. It's free and always will be.</small>
        </div>
        <div class="content-body">
            <form action="register.html" method="POST" class="margin-bottom-0">
                <label class="control-label">Name</label>
                <div class="row row-space-10">
                    <div class="col-md-6 m-b-15">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-md-6 m-b-15">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
                <label class="control-label">Email</label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Email address">
                    </div>
                </div>
                <label class="control-label"> Password</label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <label class="control-label">Re-enter Password</label>
                <div class="row m-b-15">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Re-enter password">
                    </div>
                </div>
                <div class="section-divider-reg">
                </div>
                <div class="section row">
                    <div class="col-md-4">
                        <a href="#" class="button btn-social facebook span-left btn-block">
                        <span>
                            <i class="fa fa-facebook"></i>
                        </span>Facebook</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="button btn-social twitter span-left btn-block">
                            <span><i class="fa fa-twitter"></i></span>
                            Twitter</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#" class="button btn-social googleplus span-left btn-block">
                    <span>
                      <i class="fa fa-google-plus"></i>
                    </span>Google+</a>
                    </div>
                </div>
                <div class="checkbox m-b-30">
                    <label>
                        <input type="checkbox"> By clicking Sign Up, you agree to our <a href="404.html">Terms</a> and that you have read our <a href="404.html">Data Policy</a>, including our <a href="404.html">Cookie Use</a>.
                    </label>
                </div>
                <div class="register-buttons">
                    <button type="submit" class="btn btn-success btn-block btn-lg">Sign me Up</button>
                </div>

                <div class="m-t-20">
                    Already a member? Click <a href="login.html">here</a> to login.
                </div>
            </form>
        </div>
    </div>
</body>
</html>