//
   Created by Brecht on 9/11/2015.

extends regLayout.jade

block register
    .cover
        .cover-img
            img(src='../img/login/bg-1.jpg', alt='uitzicht op landschap')
    .container-fluid
        .row-fluid
            .form-body
                .col-md-4.col-md-offset-4(ng-controller='valController')
                    h2 Sign Up with
                    .row
                        .col-sm-4
                            a.button.btn-social.facebook.span-left.btn-block(href='/auth/facebook')
                                span
                                    i.fa.fa-facebook
                                | Facebook
                        .col-sm-4
                            a.button.btn-social.twitter.span-left.btn-block(href='/auth/twitter')
                                span
                                    i.fa.fa-twitter
                                | Twitter
                        .col-sm-4
                            a.button.btn-social.googleplus.span-left.btn-block(href='/auth/google')
                                span
                                    i.fa.fa-google-plus
                                | Google+
                    .section-divider
                        span OR
                    form(name='registerForm' method='post' action='profile')
                        .form-group
                            label.control-label Name
                            .row
                                .col-md-6
                                    input.form-control.input-lg(type='text', name='firstName', placeholder=' First name')
                                .col-md-6
                                    input.form-control.input-lg(type='text', name='lastName', placeholder=' Last name')
                        .form-group
                            label Email
                            input.form-control.input-lg(type='email', name='email', placeholder='mail@example.com', required='')
                        .form-group
                            label.control-label  Password
                            input.form-control.input-lg(type='password', name='password', placeholder=' Password')
                        .form-group
                            label.control-label Re-enter Password
                            input.form-control.input-lg(type='password', name='password', placeholder=' Re-enter password')
                        button.btn.btn-block.btn-lg(type='submit') Sign me Up
                        .m-t-20
                            a.add-info(href='login') Back to Sign In
                                i.fa.fa-angle-right
                            a.add-info(href='landing') Home

                    p
                        | By clicking Sign Up, you agree to our Terms and that you have read our Cookie Use.
