<!DOCTYPE html>
<html lang="en" ng-app="event">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../../dist/css/bootstrap.min.css">
    <link type='text/css' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link type='text/css' rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../../dist/css/style.min.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top ">
            <div class="container-fluid">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">TogetheR</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="landing.html">Home</a></li>
                        <li class="active"><a href="events.html">Events</a></li>
                        <li><a href="groups.html">Groups</a></li>
                        <li><a href="login.html"><button type="button" class="btn btn-default navbar-btn">Sign in</button></a></li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2>Search for Events</h2>
                <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>

                </div>
                <div class="keywords">
                    <h3>Keywords</h3>
                        <div class="row">
                            <div class="col-md-1">
                                <div class="keyword">
                                    <a class="icon"><i class="fa fa-remove"></i></a>
                                    <p>Rock</p>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="keyword">
                                    <a class="icon"><i class="fa fa-remove"></i></a>
                                    <p>Travel</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="events">
                    <h3>Events</h3>
                    <nav>
                        <ul class="pagination">
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                   <!-- <div ng-controller="AccordionController" class="panel-group" id="accordion1" role="tablist"
                         aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title accordion-toggle">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion1"
                                       href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <img src="../img/events/channelzero.jpg">  Channel Zero
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.8708728284314!2d174.3216058!3d-35.72939409999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0b7efa8bf6609b%3A0x26cea25ad82b1210!2s2+Woods+Rd%2C+Whangarei%2C+0110!5e0!3m2!1sen!2snz!4v1409280975515" width="400" height="300" frameborder="0" style="border:0"></iframe>
                                    <p class="info">Praktische Informatie</p>
                                    <p><i class="fa fa-calendar"></i> 03/11/2015</p>
                                    <p><i class="fa fa-clock-o"></i> 20:00</p>
                                    <p><i class="fa fa-eur"></i> 18.00</p>
                                    <p><i class="fa fa-map-marker"></i> Cultuurcentrum De Fabriek - Sint-Lievens-Houtem</p>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    <button class="btn btn-info btn-responsive approve"><i class="fa fa-check fa-lg"></i> Ik ga hier naar toe</button>
                                    <button class="btn btn-info btn-responsive active disapprove"><i class="fa fa-remove fa-lg"></i> Ik ga hier niet naar toe</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <img src="../img/events/jeugd.jpg"> De Jeugd van Tegenwoordig + DJ Dysfunkshunal
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.703217746505!2d4.139664715962859!3d51.169260643190526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c38ebd60f3c64f%3A0xd95f2b6450890892!2sDe+Casino!5e0!3m2!1snl!2sbe!4v1446294324853" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <p class="info">Praktische Informatie</p>
                                    <p><i class="fa fa-calendar"></i> 21/11/2015</p>
                                    <p><i class="fa fa-clock-o"></i> 20:00</p>
                                    <p><i class="fa fa-eur"></i> 20.00</p>
                                    <p><i class="fa fa-map-marker"></i> Concertzaal De Casino Stationsstraat 104 9100 Sint-Niklaas </p>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    <button class="btn btn-info btn-responsive approve"><i class="fa fa-check fa-lg"></i> Ik ga hier naar toe</button>
                                    <button class="btn btn-info btn-responsive active disapprove"><i class="fa fa-remove fa-lg"></i> Ik ga hier niet naar toe</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse"
                                       data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <img src="../img/events/selah.jpg"> Selah Sue
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.1340900314353!2d4.323853515953409!3d50.81015426926153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c435a0532f61%3A0xcbb3c668016ca0ce!2sVorst+Nationaal!5e0!3m2!1snl!2sbe!4v1446294408876" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                    <p class="info">Praktische Informatie</p>
                                    <p><i class="fa fa-calendar"></i> 5/12/2015</p>
                                    <p><i class="fa fa-clock-o"></i> 21:00</p>
                                    <p><i class="fa fa-eur"></i> 30.00</p>
                                    <p><i class="fa fa-map-marker"></i> Vorst Nationaal Victor Rousseaulaan 208 1190 Vorst </p>
                                    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                    <button class="btn btn-info btn-responsive approve"><i class="fa fa-check fa-lg"></i> Ik ga hier naar toe</button>
                                    <button class="btn btn-info btn-responsive active disapprove"><i class="fa fa-remove fa-lg"></i> Ik ga hier niet naar toe</button>
                                </div>
                            </div>
                        </div>
                    </div>-->
                   <div ng-controller="EventController as events" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ><div ng-repeat="something in events.eventStuff">
                       <div class="panel panel-default" >
                           <div class="panel-heading" role="tab" id="heading{{something.id}}">
                               <h4 class="panel-title">
                                   <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1"
                                      href="#collapse{{something.id}}" aria-expanded="false" aria-controls="collapse{{something.id}}">
                                       <img ng-src="{{something.pictureUrl}}"> {{something.name}}
                                   </a>
                               </h4>
                           </div>
                           <div id="collapse{{something.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{something.id}}">
                               <div class="panel-body">
                                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2501.703217746505!2d4.139664715962859!3d51.169260643190526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c38ebd60f3c64f%3A0xd95f2b6450890892!2sDe+Casino!5e0!3m2!1snl!2sbe!4v1446294324853" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                                   <p class="info">Praktische Informatie</p>
                                   <p><i class="fa fa-calendar"></i>{{something.date}}</p>
                                   <p><i class="fa fa-clock-o"></i>{{something.time}}</p>
                                   <p><i class="fa fa-eur"></i>{{something.price}}</p>
                                   <p><i class="fa fa-map-marker"></i>{{something.location}}</p>
                                   <p>{{something.description}}</p>
                                   <button class="btn btn-info btn-responsive approve"><i class="fa fa-check fa-lg"></i> Ik ga hier naar toe</button>
                                   <button class="btn btn-info btn-responsive active disapprove"><i class="fa fa-remove fa-lg"></i> Ik ga hier niet naar toe</button>
                               </div>
                           </div>
                       </div>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <p class="text-muted">© Copyright BCW Company. All Rights Reserved.</p>
                <a href="#"><i class=" bck-to-top fa fa-chevron-up"></i></a>
            </div>
        </div>
    </footer>



    <script type="text/javascript" src="../../dist/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../dist/Angular/angular.js"></script>
    <script type="text/javascript" src="../../src/app.js"></script>
    <script type="text/javascript" src="../../src/controllers/EventController.js"></script>
    <script type="text/javascript" src="../../src/services/eventsService.js.js"></script>

</body>
</html>